@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 17px;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}